[DEFAULT]

# path for the labels
label_path = ./data/doc_labels.txt

# Threshold for accepting a positive labeled document.
# the lower the threshold, the higher the recall, with
# a potential sacrifice of precision.
# [Default if unspecified = 0.5]
;acceptance_thresh = 0.001

# list of all the URLs for the various documents.
url_list = ./data/doc_urls.txt.gz

# Document containing a list of languages
lang_list = ./data/languages.txt

# Root dirs for training docs (ending with .freki or .freki.gz)
# (separate multiple directories with colon ':')
train_dirs = ./dir_0:./dir_1

# Root dir for testing docs (ending with .freki or .freki.gz)
# (separate multiple directories with commas)
test_dirs = ./dir_1

# File to which classification predictions will be written.
test_output_dir = ./classifications.txt

# Where the model path is saved
model_path = ./models/doc_classifier.model

# Any necessary paths required to add to the pythonpath.
# Multiple values should be separated by a colon ':'
;python_paths = /projects/grants/riples/packages/2a-freki

# -------------------------------------------
# Feature selection
#
# A few basic feature selection options.
# -------------------------------------------

# The number of features may be limited using
# the chi^2 test to this number if requested.
# The model is trained/tested with all available
# features by default, or if this number is <=0
;num_features = 80000

# Use bigrams as features. If enabled, limiting the
# number of features is STRONGLY reccomended.
;use_bigrams = True

# -------------------------------------------
# Evaluate on training data
#
# Perform #{nfold_iterations} of iterations
# using ({train_ratio}*100)% of the documents
# for training and ({1-train_ratio}*100)% of
# data for testing.
# -------------------------------------------

# Proportion of data to be used for training
# and n-fold validation.
train_ratio = 0.9
nfold_iterations = 10

# Random Seed for randomizing the nfold
# cross-validation runs, while maintaining
# repeatability
random_seed = 293

# Produce additional debugging files, such as the
# features extracted from the training documents.
;debug = 1